<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
  <!--<oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="local" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SID=EE)))" />
        <dataSource alias="fcwork" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.138.108.170)(PORT=1522))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=fcwork)))" />
        <dataSource alias="FOCISPROD" descriptor="(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=sg1pefcsv04.logistics.intra)(PORT=1521))(load_balance=on))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=fcsprd.logistics.intra)(failover=on)(failover_mode=(type=select)(method=basic)(retries=4)(delay=4))))" />
        <dataSource alias="FOCAGL" descriptor="(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=sg2sefcsv03.logistics.intra)(PORT=1523))(load_balance=on))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=focagl)(failover=on)(failover_mode=(type=select)(method=basic)(retries=4)(delay=4))))" />
        <dataSource alias="FOCUAT" descriptor="(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=sg2sefcsv03.logistics.intra)(PORT=1523))(load_balance=on))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=focuat.logistics.intra)(failover=on)(failover_mode=(type=select)(method=basic)(retries=4)(delay=4))))" />
        <dataSource alias="FOCNEWSIT" descriptor="(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=sg2tefcsv03.logistics.intra)(PORT=1523))(load_balance=on))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=focsit)(failover=on)(failover_mode=(type=select)(method=basic)(retries=10)(delay=1))))" />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>-->
  
  
  <connectionStrings>
    
    <clear />
    <add connectionString="User Id=focssp;Password=focssp;Data Source=fcwork" name="FOCiSSSP" />
    <add connectionString="User Id=focis;Password=focis;Data Source=fcwork" name="FOCiS" />
    <!-- <add connectionString="User Id=focssp;Password=focssp;Data Source=local" name="FOCiSSSP" /> -->
    <!-- <add connectionString="User Id=focis;Password=focis;Data Source=local" name="FOCiS" /> -->
  </connectionStrings>
</configuration>